html , body{
  font-family: 'Rubik', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.theme-bg-blue{
  background-color: #278af3;
  color:#fff;
}

.theme-bg-green{
  background-color:#33984a;
  color:#fff;
}

.btn-add{
  position:relative;
  margin-bottom:10px;
  padding-left:35px;
  padding-right:15px;
  border-radius:20px;
  text-transform:capitalize;
}
.btn-add:before{
  content:"+";
  font-size:26px;
  position:absolute;
  top:-6px;
  left:10px;
}

/************************************************************************
OVERRIDE BOOTSTRAP
**************************************************************************/
.app-modal-form .modal-body,
.app-modal-form .modal-header,
.app-modal-form .modal-footer{
  padding-left: 30px;
  padding-right: 30px;
  margin:1px;
  }
.app-modal-form .modal-header,
.app-modal-form .modal-footer{
  background-color:#eef6fd;
}

.app-modal-form .modal-header {
  color: #0a53a2;
}

.app-modal-form .modal-footer {
  justify-content: flex-start;
}

.app-modal-form label {
  color: #0a53a2; }

/* disabling bootstrap transition */
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none; }

.element{
  margin:20px 0;
  border:0;/* override bootstrap .card class */
}
.element-card-header{
  text-transform:capitalize;
  border:0;
  font-size:1rem;
}
.element-card-body{
  border-radius:0 0 .25rem .25rem;
  border:1px solid #ccc;
  border-top:0;
  box-shadow:0 1px 1px #eee;
  background-color:#f8f9fa;
}

.element-content p{
  margin:0 0 10px 0;
}
.element-content label {
  font-weight: bold;
  margin: 0 10px 0 0;
  text-transform:capitalize;
}
.element-control {
  padding: 10px 0;
}

.element-control button {
  padding:3px 10px;
  margin-right:10px;
  font-size:.85rem;
}

.element-list{
  border:1px solid #ddd;
}
.element-list p{
  margin: 0 80px 0 0;
  padding:5px;
  text-decoration:underline;
}
.element-list-control{
  float:right;
  margin-top: -35px;
}
.element-list-control button{
  margin-left:10px;
  font-size:14px;
  padding:2px 10px;
  text-transform:capitalize;
}

/************************************************************************
APPLICATION
**************************************************************************/
.app-container {
  padding: 0 0 100px 0;
}

.app-header{
  margin-bottom:50px;
  padding: 10px 0;
  background-color:#3381d4;
}
.app-header .container{
  padding:0;
}
.app-logout-button {
  width: 100px;
}

.app-module-nav {
  border-bottom: 1px solid #dee2e6;
  text-transform:capitalize;
}

.app-module-nav > .nav-tabs {
  margin-bottom: -1px;
}

.app-brand {
  text-transform: uppercase;
  color: #fff;
  padding:7px 14px;
  background-color:#073c75;
}

.tab-content {
  padding:20px 0;
}

.tab-content h1 {
  margin: 0 0 20px 0;
  padding:20px;
  background-color: #3290f5;
  font-size:22px;
  color:#fff;
}

.toggle-content {
  display: block;
  padding: 10px 20px;
  background-color: #258af7;
  color: #fff;
  font-size: 16px;
  margin:0;
}

.toggle-content:hover {
  cursor: pointer;
  background-color: #167ff1;
}

/**********************************************************/
.list-listener{
  box-shadow:0 1px 1px #eee;
}
.list-listener  .card-header{
  background-color:#eae9e9;
  border:1px solid #d1d1d1;
  border-bottom:0;
}

/*******************************************************/
.list-activity li{
  border:1px solid #ccdff3;
  border-top:0;
}
.activity-head, .element-activity {
  display: table;
  width: 100%;
}

.activity-head {
  color: #fff;
  text-transform:capitalize;
}
.activity-head span, .element-activity span {
  width: 20%;
  display: table-cell;
  padding: 10px 20px;
}

.element-activity {
  cursor: pointer;
  background-color: #e2f1ff;
  color:#214265;
}

.element-activity:hover {
  background-color: #d5e8f9;
}

.element-activity-content {
  background-color: #fff;
  padding:20px;
  border-top:1px solid #d5d5d5;
  box-shadow:0 0 3px #ddd inset;
}

.element-activity-content label {
  font-weight: bold;
  margin:0 0 5px 0;
  text-transform: capitalize;
  font-size: 14px;
}

.element-activity-content pre {
  padding:0 10px;
  color: #004085;
}

.empty-panel{
  padding:20px;
  background-color:aliceblue;
  text-align:center;
  text-transform:capitalize;
  color:#333;
}
.empty-panel .error-yet{
  text-decoration:line-through;
  margin-left:10px;
}
.list-listener .empty-panel{
  background-color:#fff;
}