.app-container {
  padding: 100px 0;
}

.app-container .app-header {
  padding: 10px 0;
}

.app-logout-button {
  width: 100px;
}

.app-module-nav {
  border-bottom: 1px solid #dee2e6;
  text-transform:capitalize;
}

.app-module-nav > .nav-tabs {
  margin-bottom: -1px;
}

.app-brand {
  border:1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  padding:0 10px;
}

.tab-content {
  padding:20px 0;
}

.tab-content h1 {
  margin: 0 0 20px 0;
  padding:20px;
  background-color: #3290f5;
  font-size:22px;
  color:#fff;
}

/******************************************************/
.el-control {
  padding: 10px 0;
}

.el-control button {
  min-width: 100px;
  margin-right:10px;
}

.toggle-content {
  display: block;
  padding: 10px 20px;
  background-color: #258af7;
  color: #fff;
  font-size: 16px;
  margin:0;
}

.toggle-content:hover {
  cursor: pointer;
  background-color: #167ff1;
}
.list-service{
  margin-top:10px;
}

.el-service {
  margin: 0 0 30px 0;
  padding:30px;
  border: 1px solid #c7c7c7;
  box-shadow: 0 1px 1px #e7ebef;
}

.list-event {
  background-color:#e7f4ff;
  margin-top:20px;
}
.list-event > div{
  padding:20px;
}
.empty-list{
  margin:0 0 10px 0;
  padding:20px;
  background-color:#fff;
}
.el-event {
  display: table;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom:15px;
}
.list-listener {
  margin-top:10px;
}
.el-content p{
  margin:0 0 10px 0;
}
.el-content label {
  font-weight: bold;
  margin: 0 10px 0 0;
  text-transform:capitalize;
}

.el-event > div {
  vertical-align: top;
  display: table-cell;
}

.el-event .el-content {
  padding:15px 10px;
}

.el-event h4 {
  font-size: 16px;
  padding: 10px;
  color: #07386d;
  background-color: #b3d7ff;
  border-left: 1px solid #fff;
  margin:0;
}

.el-event>div:nth-of-type(1) {
  width: 45%;
}

.el-event>div:nth-of-type(2) {
  width: 55%;
}

.el-listener {
  padding:10px;
  margin-bottom: 5px;
  border: 1px solid #d1e6fd;
  background-color:#fff;
  border-radius:5px;
}
.el-listener p{
  margin:0 70px 0 0;
}
.el-listener-control{
  float:right;
  margin-top:-25px;
}
/* todo */
.el-listener-control button{
  background-color:#eee;
  border:0;
  margin-left:10px;
}


/*******************************************************/

.activity-head, .element-activity {
  display: table;
  width: 100%;
}

.activity-head {
  color: #fff;
}
.activity-head span, .element-activity span {
  width: 20%;
  display: table-cell;
  padding: 10px 20px;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}

.element-activity {
  cursor: pointer;
  background-color: #e2f1ff;
}

.element-activity:hover {
  background-color: #d5e8f9;
}

.element-activity-content {
  background-color: #e2f1ff;
  margin:0 1px 30px 1px;
}

.element-activity-content{
  padding:10px 20px;
  box-shadow:0 1px 2px #e5e5e5 inset , 0 1px 2px #eee;
  border:1px solid #d2d4d6;
  background-color:#f7f8f9;
}
.element-activity-content label {
  font-weight: bold;
  margin: 10px 10px 0 0;
  text-transform: capitalize;
  font-size: 14px;
}

.element-activity-content pre {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.empty-panel{
  padding:20px;
  background-color:aliceblue;
  text-align:center;
  text-transform:capitalize;
  color:#333;
}
.empty-panel .error-yet{
  text-decoration:line-through;
  margin-left:10px;
}